<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <featured_product>
            <general>
                <enabled>1</enabled>
                <sku/>
                <title>Featured Product</title>
                <refresh_interval>10</refresh_interval>
            </general>
        </featured_product>
    </default>
</config>
