<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system.xsd">
    <system>
        <tab id="devsync" translate="label" sortOrder="400">
            <label>Devsync</label>
        </tab>
        <section id="featured_product" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Featured Product</label>
            <tab>devsync</tab>
            <resource>Devsync_FeaturedProduct::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Homepage Featured Product Box</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sku" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Featured Product SKU</label>
                    <comment>SKU of the product to be displayed on the homepage box.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="title" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Box Title</label>
                    <comment>Optional badge/label shown above the product name (e.g. "Deal of the day").</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="refresh_interval" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stock Refresh Interval (seconds)</label>
                    <comment>How often the available quantity is refreshed in real time, without reloading the page. Minimum 2 seconds.</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
